 

/* shared styles */
body {
    font-family: 'Work Sans', sans-serif;
}
.description {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
}




header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    margin-right: 3rem;
    color: var(--Dark-02, #424242);
    font-size: 18px;
    font-weight: 500;
    list-style: none;

}

nav li a {
    text-decoration: none;
}

.nav-title {
    color: var(--Dark-01, #131313);
    font-size: 3rem;
    font-weight: 700;
}

/* bnner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
}

.btn {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}

.banner img {
    margin-top: 20px;
    width: 100%;

}

main {
    max-width: 1400px;
    margin: 4rem 240px;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.teams-title .quicklist {
    color: var(--Dark-03, #727272);
    font-size: 2.8rem;
    font-weight: 500;
}

.teams-title .ofour {
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-title .features {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}



/* responsive media queries */
/* small devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav , .teams-container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }
    .teams-img{
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding-top: 2rem;
    }
}

/* media devices */
@media screen and (min-width:577px) and (max-width:1200px) {
    header {
        padding: 50px;
    }

    nav , .teams-container {
        flex-direction: column;
    }
    .teams-content {
        padding: 2rem 1.5rem 0 1.5rem;
    }
}